<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base.html}">
<main layout:fragment="content">
    <form th:action="@{/livros/editarLivro/{id}(id=${livro.id})}" method="post">
        <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input type="text" class="form-control" id="titulo" name="titulo" th:value="${livro?.titulo}" required>
        </div>
        <div class="mb-3">
            <label for="autor" class="form-label">Autor</label>
            <input type="text" class="form-control" id="autor" name="autor" th:value="${livro?.autor}" required>
        </div>
        <div class="mb-3">
            <label for="isbn" class="form-label">ISBN</label>
            <input type="text" class="form-control" id="isbn" name="isbn" th:value="${livro?.isbn}" required>
        </div>
        <div class="mb-3">
            <label for="anoPublicacao" class="form-label">Ano de Publicação</label>
            <input type="number" class="form-control" id="anoPublicacao" name="anoPublicacao" th:value="${livro?.anoPublicacao}" required>
        </div>
        <div class="mb-3">
            <label for="editora" class="form-label">Editora</label>
            <input type="text" class="form-control" id="editora" name="editora" th:value="${livro?.editora}" required>
        </div>
        <div class="mb-3">
            <label for="categoria" class="form-label">Categoria</label>
            <input type="text" class="form-control" id="categoria" name="categoria" th:value="${livro?.categoria}" required>
        </div>
        <div class="mb-3">
            <label for="quantidade" class="form-label">Quantidade</label>
            <input type="number" class="form-control" id="quantidade" name="quantidade" th:value="${livro?.quantidade}" required>
        </div>
        <div class="mb-3">
            <label for="status" class="form-label">Status</label>
            <select class="form-control" id="status" name="status" th:value="${livro?.status}" required>
                <option value="disponível">Disponível</option>
                <option value="emprestado">Emprestado</option>
                <option value="reservado">Reservado</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="dataCadastro" class="form-label">Data de Cadastro</label>
            <span th:text="${livro?.dataCadastro}"></span>
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
    
</main>