<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base.html}">
<main layout:fragment="content">
    <h1 class="text-center mb-4">Lista de Livros</h1>
    <table id="tabelaLivros" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Titulo</th>
            <th>Autor</th>
            <th>ISBN</th>
            <th>Ano Publicado</th>
            <th>Editora</th>
            <th>Categoria</th>
            <th>Quantidade</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="livro : ${livros}">
            <td th:text="${livro.id}"></td>
            <td th:text="${livro.titulo}"></td>
            <td th:text="${livro.autor}"></td>
            <td th:text="${livro.isbn}"></td>
            <td th:text="${livro.anoPublicacao}"></td>
            <td th:text="${livro.editora}"></td>
            <td th:text="${livro.categoria}"></td>
            <td th:text="${livro.quantidade}"></td>
            <td th:text="${livro.status}"></td>
            <td>
                <div class="d-flex gap-2">
                    <form method="post" action="/livros/deletar">
                        <input type="hidden" name="id" th:value="${livro.id}">
                        <button class="btn btn-danger btn-sm">
                            <i class="bi bi-trash"></i> Excluir
                        </button>
                    </form>
                    <a th:href="'/livros/editarLivro/' + ${livro.id}" class="btn btn-primary btn-sm">
                        <i class="bi bi-pencil"></i> Editar
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</html>
